{% extends "base.html.twig" %}


{% block content %}
    <body>

        <div class="container">
            <h1>SHARE <br> YOUR GIF</h1>
            <p>
                <form method="post">
                    <input type="text" class="text" name="cerca" placeholder="meme"><br>
                    <input type="submit" class="submit" name="invio" value="Search on GIPHY">
                </form>
            </p>
            
            {% for d in dati %}
            
            {% block js %}
                <script>
                    var iframe = "<iframe width="{{ d.width }}" height="{{ d.height }}" src=" {{ d.embed }} " title="{{ d.title }}" frameborder="0" allowfullscreen></iframe>";
                </script>
            {% endblock %}

            <div class="gifComponent" style="background-image: url({{ d.url }})">
                <div class="top">
                    <h4 class="author">
                        {{ d.title }}
                    </h4>    
                    
                    <h5 class="username">
                        uploaded by {% if d.username %} {{ d.username }} {% else %} unknown {% endif %}
                    </h5>
        
                    
                    <h7 class="date">
                        on {{ d.date }}
                    </h7>
                </div>
                <div class="bottom">
                    <img src="static/img/icon1.png" class="icon" onclick=CopyMe() >
                    <a><img src="static/img/icon2.png" class="icon"></a> 

                </div>


            </div>
            
            {% endfor %}

            <form method="post">
                {% for i in 1..10 %}

                    <input type="submit" name="{{ i }}" value="{{ i }}">
                {% endfor %}
            </form>
            
        </div>
    </body>
    
    
{% endblock %}